.breadcrum{
       display: flex;
       align-items: center;
       gap: 8px;
       color: #5e5e5e;
       font-size: 16px;
       font-weight: 600;
       margin: 60px 170px;
       text-transform: capitalize;
}

/* Adjust for smaller screens like tablets */
@media only screen and (max-width: 768px) {
    .breadcrum {
        font-size: 14px; /* Slightly smaller font size */
        margin: 40px 50px; /* Reduce margin */
    }
}

/* Adjust for mobile devices */
@media only screen and (max-width: 480px) {
    .breadcrum {
        font-size: 12px; /* Smaller font size */
        margin: 20px 20px; /* Further reduce margin */
        gap: 4px; /* Reduce gap between breadcrumb items */
    }
}
